<!-- base.html -->

<!DOCTYPE html>
<html>
<head>
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" crossorigin="anonymous">
    <script crossorigin="anonymous" src="/static/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <!-- Add your header content here if needed -->
    </header>

    <main>
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="static\logo.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill">
              </a>
              {% if 'user_id' in session %}
                <h5 class="navbar-brand">Welcome {{ session['user_name'] }}!</h5>
              {% else %}
                <h5 class="navbar-brand">Welcome Guest!</h5>
              {% endif %}
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                  {% if 'user_id' in session %}
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Welcome {{ session['user_name'] }}!</h5>
                  {% else %}
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Welcome Guest!</h5>
                  {% endif %}
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{ url_for('home.welcome') }}">Home</a>
                    </li>
                    {% if not 'user_id' in session %}
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a> 
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.register') }}">Registration</a> 
                      </li>
                    {% endif %}
                    {% if 'user_id' in session %}
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout!</a> 
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          More Actions!
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                          <li><a class="dropdown-item" href="{{ url_for('cluster.add_cluster') }}">Add Remove Cluster</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('admin_access.access_requests') }}">Access Requested</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('trident.trident_data_view') }}">Trident SVM's</a></li>
                          <li><a class="dropdown-item" href="{{ url_for('inventory.inventory_view') }}">Inventory</a></li>
                          <li>
                            <hr class="dropdown-divider">
                          </li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li>
                    {% endif %}
                  </ul>
                  <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                  </form>
                </div>
              </div>
            </div>
          </nav>
          <br><br><br>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Add your footer content here if needed -->
    </footer>
</body>
</html>
