<!-- templates/trident_data_view.html -->

{% extends 'base.html' %}

{% block title %}Inventory View{% endblock %}

{% block content %}

<form method="post" action="/inventory_fetch">
  <div class="form-floating col-md-4 container">
    <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="c_fetch">
      <option value="" disabled selected hidden>Please Choose...</option>
      {% for cluster_entrie in cluster_entries %}
        <option value="{{ cluster_entrie.clusterapi }}">{{ cluster_entrie.clusterapi }}</option>
      {% endfor %}
        </select>
    <label for="floatingSelect form-label"> Select Cluster to View</label><br>
    <button type="submit" class="btn btn-outline-primary btn-lg">Fetch</button>
  </div>
</form>>
{% endblock %}