<!-- login.html -->

{% extends 'base.html' %}
{% block title %}
    <title>Login!</title>
{% endblock%}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-danger">
      <ul>
          <li>{{ messages }}</li>
      </ul>
    </div>
  {% endif %}
{% endwith %}
<form method="post" action="/login">
    <div class="container-md">
          <div class="mb-3"> 
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name@example.com" required>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-outline-primary">Login</button>
   </div>
  </form>
{% endblock %}
