<!-- templates/trident_data_view.html -->

{% extends 'base.html' %}
{% block title %}Trident Data View{% endblock %}

{% block content %}
<h2>Trident Data View</h2>
<table class="table">
  <thead>
    <tr>
      <th>Cluster API</th>
      <th>SVM Name</th>
      <th>Data LIEF IP</th>
      <th>Last Password Updated</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in trident_entries %}
    <tr>
      <td>{{ entry.cluster.clusterapi }}</td>
      <td>{{ entry.svmname }}</td>
      <td>{{ entry.dataLF }}</td>
      <td>{{ entry.last_password_updated_on }}</td>
      <td>
        <form action="{{ url_for('trident.fetch_requests', entry_id=entry.id) }}" method="post">
          <input type="submit" value="Fetch" class="btn btn-primary">
        </form>
      </td>
      <td>
        <form action="{{ url_for('trident.reset_password', entry_id=entry.id) }}" method="post">
          <button type="submit" class="btn btn-danger reset-button" data-updated="{{ entry.last_password_updated_on }}" >Password</button>
      </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script src="static\js\password_reset.js"></script>
{% endblock %}
